---
layout: default
title: Home
---

<img src="MEEM_thin.png" alt="logo"  class="center">

<h1>Next event</h1>
<h2>TaQwa x SA Salaam workshop: How TaQwa habits can stop procrastination</h2>
<p>Location: TU/e campus, Auditorium 5<br>Date: Thursday 17th of October 2024<br>Time: 17:00-20:00</p>
<p>Sign up <a href="tiny.cc/taqwaminds">here</a>.</p>
<p>Contact: <a href="mailto:secretary@sasalaam.nl">secretary@sasalaam.nl</a></p>

<h2>Past events</h2>
<h3>Expat summer BBQ</h3>
<p>Location: Helmond<br>Date: Thursday 8th of August 2024<br>Time: After salaat al `Asr</p>





<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
